.tns-outer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    width: calc(100% - 240px);
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
  }
}

.tns-ovh {
  @media screen and (max-width: 767px) {
    order: 1;
  }
}

.tns-controls {
  display: flex;
  z-index: 5;
  justify-content: center;

  @media screen and (max-width: 767px) {
    order: 2;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 70px);
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: calc(100% + 120px);
  }

  &:active,
  &:focus {
    outline: none;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #2f5bea;
    color: #fff;

    @media screen and (max-width: 767px) {
      margin: 20px 10px;
    }

    &:focus {
      outline: none;
    }

    &::after {
      position: relative;
      content: '';
      border-style: solid;
      border-width: 3px;
      border-radius: 3px;
      display: inline-block;
      padding: 4px;
      pointer-events: none;
      transform: rotate(45deg);
    }

    &:disabled {
      opacity: .2;
    }
  }

  button[data-controls='prev']::after {
    border-color: #2f5bea #2f5bea #fff #fff;
    margin-right: -6px;
  }

  button[data-controls='next']::after {
    border-color: #fff #fff #2f5bea #2f5bea;
    margin-left: -6px;
  }
}

.tns-nav {
  text-align: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    order: 3;
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }

  button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #999;
    margin: 10px 5px;

    &:active,
    &:focus {
      outline: none;
    }

    &.tns-nav-active {
      background-color: #2f5bea;
      border: 2px solid #2f5bea;
    }
  }
}
