// We have this file because we cannot style tiny-slider using JSS.

$brand-blue: #2f5bea;

.media-coverage-slider__wrapper {
  > div.MuiContainer-maxWidthLg {
    max-width: 1280px;
  }
}

.tns-outer {
  display: flex;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: calc(100% - 240px);
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
  }
}

.tns-ovh {
  @media screen and (max-width: 767px) {
    order: 1;
  }
}

.tns-controls {
  display: flex;
  z-index: 5;
  justify-content: center;

  @media screen and (max-width: 767px) {
    order: 2;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: calc(50% - 70px);
    left: 50%;
    justify-content: space-between;
    width: calc(100% + 120px);
    transform: translate3d(-50%, -50%, 0);
  }

  &:active,
  &:focus {
    outline: none;
  }

  button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 40px;
    background: rgba($brand-blue, .1);
    color: transparent;
    transition: background-color ease .25s;

    @media screen and (max-width: 767px) {
      margin: 20px 10px;
    }

    &:hover {
      background: rgba($brand-blue, 1);
    }

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      display: inline-block;
      position: relative;
      padding: 4px;
      border-width: 3px;
      border-style: solid;
      border-radius: 3px;
      transform: rotate(45deg);
      transition: border-color ease .25s;
      pointer-events: none;
    }

    &:disabled {
      opacity: 0;
    }
  }

  button[data-controls='prev'] {
    &:hover {
      &::after {
        border-color: transparent transparent #fff #fff;
      }
    }

    &::after {
      margin-right: -6px;
      border-color: transparent transparent $brand-blue $brand-blue;
    }
  }

  button[data-controls='next'] {
    &:hover {
      &::after {
        border-color: #fff #fff transparent transparent;
      }
    }

    &::after {
      margin-left: -6px;
      border-color: $brand-blue $brand-blue transparent transparent;
    }
  }
}

.tns-nav {
  width: 100%;
  text-align: center;

  @media screen and (max-width: 767px) {
    order: 3;
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }

  button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    border-radius: 20px;
    opacity: .2;
    background-color: $brand-blue;

    &:active,
    &:focus {
      outline: none;
    }

    &.tns-nav-active {
      opacity: 1;
    }
  }
}
